<title>Editar Admin</title>

{% extends "base.html" %}

{% block content %}
<br><br>
<h3 class="text-center">Editar Admin</h3>

<div class="d-flex justify-content-between align-items-center">
    <form action="" method="POST" class="mb-3 mx-auto p-2"><br>{%csrf_token%}
        <label for="name">Nombre: </label><br>
            <input class="form-control" type="text" name="name" id="name" min="4" max="20" required value="{{user.first_name}}"><br>
        <label for="lname">Apellido: </label><br>
            <input class="form-control" type="text" name="lname" id="lname" min="4" max="20" required value="{{user.last_name}}"><br>
        <label for="username" >Nombre de Usuario (único): </label><br>
            <input class="form-control" type="text" name="username" id="username" min="4" max="20" required value="{{user.username}}"><br>
        <label for="password"><strong class="text-success">NUEVA</strong> Contraseña: </label><br>
            <input class="form-control" type="password" name="password" id="password" min="4" max="20" required><br>
        <label for="username">Email: </label><br>
            <input class="form-control" type="email" name="email" id="email" required value="{{user.email}}"><br><br>
        <h3 class="text-center">Demuestre que usted es un administrador</h3>
        <label for="admin_user">Usuario actual: </label><br>
            <input class="form-control" type="text" name="admin_user" id="admin_user" required> <br>
        <label for="admin_pass">Contraseña del usuario actual: </label><br>
            <input class="form-control" type="password" name="admin_pass" id="admin_pass" required> <br>

        <input type="submit" value="Crear" class="btn btn-primary">
    </form>
</div>

{% endblock %}