<br>
<body class="bg-light center">
    <div>
        <ul class="d-lg-block btn-sm">
            <li class=".d-sm-none btn"><a class=" btn btn-primary" href="{%url 'ListPorAnio'%}">Listar por Año</a></li>
            <li class=".d-sm-none btn"><a class=" btn btn-primary" href="{%url 'ListAlfa'%}">Listar por orden alfabético</a></li>
            <li class=".d-sm-none btn"><a class=" btn btn-primary" href="{%url 'buscarNombre'%}">Buscar por Nombre</a></li>
            <li class=".d-sm-none btn"><a class=" btn btn-primary" href="{%url 'buscarDNI'%}">Buscar por DNI</a></li>
        </ul>
   </div>
</body>