<title>Crear nuevo admin</title>
{% extends "base.html" %}

    {% block content %}
    {% if request.user.is_superuser %}

    <br><br>
    <h3 class="text-center">Crear nuevo administrador</h3>

    <div class="container">
        <form action="" method="POST"><br>{%csrf_token%}
            <label for="name">Nombre: </label><br>
            <input class="form-control" type="text" name="name" id="name" min="4" max="20" required><br>
            <label for="lname">Apellido: </label><br>
            <input class="form-control" type="text" name="lname" id="lname" min="4" max="20" required><br>
            <label for="username" >Nombre de Usuario (único): </label><br>
            <input class="form-control" type="text" name="username" id="username" min="4" max="20" required><br>
            <label for="password">Contraseña: </label><br>
            <input class="form-control" type="password" name="password" id="password" min="4" max="20" required><br>
            <label for="username">Email: </label><br>
            <input class="form-control" type="email" name="email" id="email" required><br><br>
            <h3 class="text-center">Ingresar datos del superusuario</h3>
            <label for="admin_user">Superusuario: </label><br>
            <input class="form-control" type="text" name="admin_user" id="admin_user" required> <br>
            <label for="admin_pass">Contraseña actual: </label><br>
            <input class="form-control" type="password" name="admin_pass" id="admin_pass" required> <br>

            <input type="submit" value="Crear" class="btn btn-primary">
        </form>
    </div>
    {% else %}

    {% endif %}

    {% endblock %}


